---
layout: tutorial.pug
type: Calendar
title: Creating and Sharing
url: creating-and-Sharing
key: __tutorial
---

img(src="/images/calendar/sharing/photo1.jpg" alt="Photo 1")
| Click the small down arrow to the right of “My Calendars”
img(src="/images/calendar/sharing/photo2.jpg" alt="Photo 2")
| Click “Create new calendar” in the menu that pops up
img(src="/images/calendar/sharing/photo3.jpg" alt="Photo 3")
| Field number No. 1 is the name of the calendar, No. 2 is a brief description, and No. 3 is for sharing the calendar with peers, colleagues, or students. To share a calendar, enter the email address of the desired recipient and click “Add Person”. When you are done, click “Create Calendar” at the bottom of the page.
img(src="/images/calendar/sharing/photo4.jpg" alt="Photo 4")
| On the left bar, you can see all your calendars including the one that you just created. To add an event to the calendar, click “Create”.
img(src="/images/calendar/sharing/photo5.jpg" alt="Photo 5")
| Name the event at the top field. You can change date and time just below this. You can also enter location, description, notifications, and even attachments. Make sure that you’ve set the correct calendar by clicking the dropdown menu next to “Calendar” and selecting your desired calendar. After that, click the orange “Save” Button at the top of the page to save the event.