html
    head
        title= title
        // Stylesheet goes here
        link(rel="stylesheet" href="/styles.css" type="text/css")
    body
        div(class="main")
            a(href="/") ⬅︎ Back
        - var titleString = type + " - " + title
            h1=titleString

            != contents

            p: a(href="/") ⬅︎ Back