html
    head
        title Test Index
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/styles.css" type="text/css")
    body
        h1 MKA EdTech GSuite Tutorials
        h2 Calendar
        ul
            li: a(href="/calendar/sharing.html") Creating and sharing
            li: a(href="/") Making an Event
        h2 Google Drive
        ul
            li: a(href="/") Creating a shared doc/sheet/slide
            li: a(href="/") Creating a shared folder